<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

  * {
    font-family: Roboto, system-ui;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }

  body {
    font-size: 14px;
    line-height: 1.6;
    padding: 0;

    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
  }

  span {
    font-weight: bold;
  }

  .header {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
  }

  .logo {
    padding: 10px 0;
    text-align: center;
  }

  h4 {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
  }

  .footer {
    border-top: 1px solid #e6e6e6;
    color: #999;
    font-size: 14px;
    margin: 20px 0;
    padding-top: 20px;
  }

  .footer div {
    background: black;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
  }
</style>

<body>
  <div class="header">
    <div class="logo">
      <img src="cid:shop-logo" style="width: 200px;" />
    </div>
    <h4>Confirmación de cambio de contraseña</h4>
  </div>

  <p style="margin-bottom: 10px">
    Estimado(a) <span>{{ names }}</span>
  </p>
  <p style="margin-bottom: 10px">
    Le informamos que la contraseña de su cuenta en
    <span>Tienda Bigotes</span> asociada al correo electrónico
    <span>{{ email }}</span>. ha sido modificada
    correctamente.
  </p>
  <p style="margin-bottom: 10px">
    Si usted realizó este cambio, no necesita realizar ninguna otra acción. Su
    nueva contraseña ya está configurada y puede utilizarla para acceder a su
    cuenta.
  </p>
  <p style="margin-bottom: 10px">
    En caso de que no haya solicitado este cambio o crea que alguien más lo ha
    realizado por error, le recomendamos que se ponga en contacto con nuestro
    equipo de soporte para que podamos ayudarle a recuperar el acceso a su
    cuenta.
  </p>
  <p>Gracias</p>
  <span>El equipo de Tienda Bigotes</span>

  <div class="footer">
    <p>
      Este correo ha sido generado automáticamente en respuesta a una solicitud
      de cambio de contraseña. Si no ha realizado esta solicitud, puede ignorar
      este mensaje. Para más información sobre la seguridad de su cuenta,
      visite nuestra página de ayuda.
    </p>
    <div>&copy; 2024 moustacheshop</div>
  </div>
</body>