<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

  * {
    font-family: Roboto, system-ui;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }

  body {
    font-size: 14px;
    line-height: 1.6;
    padding: 0;

    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
  }

  span {
    font-weight: bold;
  }

  .header {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
  }

  .logo {
    padding: 10px 0;
    text-align: center;
  }

  h4 {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
  }

  .content {
    background-color: #f9f9f9;
    margin: 20px 0;
    padding: 20px;
  }

  .content span {
    display: block;
    font-size: 28px;
    letter-spacing: 10px;
    margin: 20px 0;
    text-align: center;
  }

  .content a {
    background-color: black;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
  }

  .footer {
    border-top: 1px solid #e6e6e6;
    color: #999;
    font-size: 14px;
    margin: 20px 0;
    padding-top: 20px;
  }

  .footer div {
    background: black;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
  }
</style>

<body>
  <div class="header">
    <div class="logo">
      <img src="cid:shop-logo" style="width: 200px;" />
    </div>
    <h4>Restablecimiento de contraseña</h4>
  </div>

  <p style="margin-bottom: 10px">
    Estimado(a) <span>{{ names }}</span>
  </p>
  <p>
    Hemos recibido una solicitud para restablecer la contraseña de su cuenta
    en <span>Tienda Bigotes</span>, asociada al correo electrónico
    <span style="text-decoration: none; color: white;">{{ email }}</span>.
    Si usted realizó esta solicitud por favor siga las instrucciones a
    continuación para continuar con el proceso.
  </p>
  <div class="content">
    <p>
      Para proceder con el restablecimiento de su contraseña, por favor
      utilice el siguiente código de verificación:
      <span>{{ code }}</span>
    </p>
    <p>
      Alternativamente, puede hacer clic en el siguiente enlace para completar
      el proceso:
    </p>
    <div style="text-align: center;">
      <a href="{{ url }}">Restablecer contraseña</a>
    </div>
    <p>
      Le recordamos que tanto el código como el enlace serán válidos por un
      período de 15 minutos desde la recepción de este mensaje.
    </p>
  </div>
  <p>Gracias</p>
  <span>El equipo de Tienda Bigotes</span>

  <div class="footer">
    <p>
      Este correo electrónico ha sido enviado en respuesta a una solicitud de
      restablecimiento de contraseña. Si usted no ha realizado esta solicitud,
      puede ignorar este mensaje de manera segura. Para obtener más
      información sobre la seguridad de su cuenta, consulte nuestro artículo
      de ayuda.
    </p>
    <div>&copy; 2024 moustacheshop</div>
  </div>
</body>